{#
Paramètres additionnels possibles (à passer dans le include) :
- list_class    => Classe(s) supplémentaires à ajouter à reseaux-sociaux
- links_class   => Classe(s) supplémentaires à ajouter à reseaux-sociaux__link
#}

{% if social_networks.items %}
	<ul class="reseaux-sociaux {{ list_class }}">
		{% for item in social_networks.items %}
			<li class="reseaux-sociaux__item {{ item.classes|join(' ') }}">
				<a href="{{ item.link }}" target="_blank" rel="noopener" title="{{ item.title }}"
				   class="reseaux-sociaux__link reseaux-sociaux__link--{{ item.slug }} {{ links_class }}">
					<i class="reseaux-sociaux__icon icon-{{ item.slug }}"></i>
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}