<section class="competences-distinctions">
	<img src="{{ theme.path }}/static/svg/background_montagneRusse2.svg" alt=""
	     class="bg-coaster competences-distinctions__bg-coaster">

	<svg version="1.1"
	     xmlns="http://www.w3.org/2000/svg"
	     viewBox="0 0 1920 150"
	     class="section-cache">
		<polygon class="section-cache__path" points="0,0 1920,0 1920,150"></polygon>
	</svg>

	<div class="container competences-distinctions__container">
		<div class="row">
			<div class="col-md-6" id="competences">
				<div class="competences-distinctions__title-wrapper">
					<img src="{{ theme.path }}/static/svg/ordi.svg" alt="{{ __('Ordi', 'portfolio') }}"
					     class="competences-distinctions__title-icon">
					<h2 class="competences-distinctions__title">{{ __('Compétences', 'portfolio') }}</h2>
				</div>
				<ul class="competences competences-distinctions__competences">
					<li class="competences__item">
						<img src="" alt="" class="competences__icon">
						<p class="competence__name">NOM COMPÉTENCE</p>
					</li>
				</ul>
			</div>
			<div class="col-md-6" id="distinctions">
				<div class="competences-distinctions__title-wrapper">
					<img src="{{ theme.path }}/static/svg/medaille.svg" alt="Médaille"
					     class="competences-distinctions__title-icon">
					<h2 class="competences-distinctions__title">{{ __('Distinctions', 'portfolio') }}</h2>
				</div>
				<ul class="distinctions">
					<li class="distinctions__item">
						<p class="distinctions__item-titre">NOM PRIX</p>
						<p class="distinctions__item-description">DESCRIPTION</p>
						<p class="distinctions__item-annee">ANNÉE</p>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<svg version="1.1"
	     xmlns="http://www.w3.org/2000/svg"
	     viewBox="0 0 1920 150"
	     class="section-cache">
		<polygon class="section-cache__path" points="0,150 1920,0 1920,150"></polygon>
	</svg>
</section>