<section class="competences-distinctions" id="competences-distinctions">
	<svg version="1.1"
	     xmlns="http://www.w3.org/2000/svg"
	     viewBox="0 0 1920 150"
	     class="section-cache">
		<polygon class="section-cache__path" points="0,0 1920,0 1920,150"></polygon>
	</svg>

	<div class="container competences-distinctions__container">
		<div class="row">
			<div class="col-md-6" id="competences">
				<div class="competences-distinctions__title-wrapper">
					<img src="{{ theme.path }}/static/svg/ordi.svg" alt="{{ __('Ordi', 'portfolio') }}"
					     class="competences-distinctions__title-icon">
					<h2 class="competences-distinctions__title">{{ __('Compétences', 'portfolio') }}</h2>
				</div>
				{% if post.liste_competences %}
					<ul class="competences competences-distinctions__competences">
						{% for competence in post.meta('liste_competences') %}
							<li class="competences__item">
								<img src="{{ Image(competence.icone_competence).src }}" alt="{{ competence.nom_competence }}" class="competences__icon">
								<p class="competence__name">{{ competence.nom_competence }}</p>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div class="col-md-6" id="distinctions">
				<div class="competences-distinctions__title-wrapper">
					<img src="{{ theme.path }}/static/svg/medaille.svg" alt="Médaille"
					     class="competences-distinctions__title-icon">
					<h2 class="competences-distinctions__title">{{ __('Distinctions', 'portfolio') }}</h2>
				</div>
				{% if post.liste_distinctions %}
					<ul class="distinctions">
						{% for distinction in post.meta('liste_distinctions') %}
							<li class="distinctions__item">
								<p class="distinctions__item-titre">{{ distinction.nom_prix }}</p>
								<p class="distinctions__item-description">{{ distinction.description_prix }}</p>
								<p class="distinctions__item-annee">{{ distinction.annee }}</p>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>

	<svg version="1.1"
	     xmlns="http://www.w3.org/2000/svg"
	     viewBox="0 0 1920 150"
	     class="section-cache">
		<polygon class="section-cache__path" points="0,150 1920,0 1920,150"></polygon>
	</svg>
</section>